    <link rel="apple-touch-icon" sizes="180x180" href="{{"apple-touch-icon.png" | relURL}}" integrity="sha384-KeycyfPnirg5vlHFZl59QbZIQimkcDbKhIbg+lg5HDh5Ej8iyTfa74RnOOEVd661" crossorigin="anonymous">
    <link rel="icon" type="image/png" sizes="96x96" href="{{"favicon-96x96.png" | relURL}}" integrity="sha384-PHiGd5j21VKQy0jIMr0ZdeQJgWijOWPJLavxTZqqZPX09xujoh7hsYAvS6YRWBsM" crossorigin="anonymous">
    <link rel="manifest" href="{{"site.webmanifest" | relURL}}" integrity="sha384-6A9ldfXhwOerdHxAU57Qq7q1MOgJZpqUg1mAa7YGBHGbm3AI8Lp1qQ/h++ZrVE2o" crossorigin="anonymous">
    <link rel="icon" type="image/svg+xml" href="{{"favicon.svg" | relURL}}" integrity="j1reml+sk3sQ37l427wxw7QBqC+n33xyayI/83MpnvtA6iK3G0MFp3Su3rATLuNv" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{"favicon.ico" | relURL}}" integrity="sha384-lZ1FCxlBePqAO6zVkWrq0E1WjohiWaEeu2pUp8y+lM40TmBaKoppI/4W8SZo/GR7" crossorigin="anonymous">
    <meta name="apple-mobile-web-app-title" content="Kallelilja">
    <meta name="msapplication-TileColor" content="{{.Site.Params.favicon.color.msapplication}}">
    