{{ if not site.Config.Privacy.GoogleAnalytics.Disable }}
  {{ if .gaNonce1 }}
    <script nonce="{{ .gaNonce1 }}" async src="https://www.googletagmanager.com/gtag/js?id={{ .GAID }}"></script>
  {{ else }}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ .GAID }}"></script>
  {{ end }}
  {{ if .gaNonce2 }}<script nonce="{{ .gaNonce2 }}">{{ else }}<script>{{ end }}
    var doNotTrack = false;
    if ({{ site.Config.Privacy.GoogleAnalytics.RespectDoNotTrack }}) {
      var dnt = (navigator.doNotTrack || window.doNotTrack || navigator.msDoNotTrack);
      var doNotTrack = (dnt == "1" || dnt == "yes");
    }
    if (!doNotTrack) {
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ .GAID }}');
    }
  </script>
{{- end -}}
