<!-- Pre-calculate integrity hashes -->
{{ $integrityHashes := slice }}

{{ $scssFiles := slice "main" "custom" }} 
{{ range $scssFile := $scssFiles }}
    {{ $opts := dict "transpiler" "libsass" "targetPath" (printf "%s.css" $scssFile) "outputStyle" "compressed" "enableSourceMap" true }}
    {{ $css := resources.Get (printf "scss/%s.scss" $scssFile) | toCSS $opts | minify | fingerprint }}
    {{ $integrityHashes = $integrityHashes | append $css.Data.Integrity }}
{{ end }}

{{ range $val := $.Site.Params.customCSS }}
    {{ if gt (len $val) 0 }}
        {{ $opts := dict "outputStyle" "compressed" }}
        {{ $minifiedCSS := resources.Get $val | toCSS $opts | minify | fingerprint "sha256" }}
        {{ $integrityHashes = $integrityHashes | append $minifiedCSS.Data.Integrity }}
    {{ end }}
{{ end }}

{{ range $file := .Site.Params.customCSSExternal.files }}
    {{ $integrityHashes = $integrityHashes | append $file.hash }}
{{ end }}

{{ $gaNonce1 := partial "_nonces.html" (dict "seed" "gaNonce1") }}
{{ $gaNonce2 := partial "_nonces.html" (dict "seed" "gaNonce2") }}
{{ $gaNonces := slice $gaNonce1 $gaNonce2 }}

{{ $jsNonce1 := partial "_nonces.html" (dict "seed" "jsNonce1") }}
{{ $jsNonce2 := partial "_nonces.html" (dict "seed" "jsNonce2") }}
{{ .Scratch.Set "jsNonce1" $jsNonce1 }}
{{ .Scratch.Set "jsNonce2" $jsNonce2 }}
{{ $jsNonces := slice $jsNonce1 $jsNonce2 }}

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta http-equiv="Permissions-Policy" content="geolocation=(), microphone=(), camera=()">
<meta http-equiv="X-XSS-Protection" content="1; mode=block">
<meta http-equiv="X-Content-Type-Options" content="nosniff">
<meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'{{ range $i, $nonce := $gaNonces }} 'nonce-{{ $nonce }}'{{ end }}{{ range $i, $nonce := $jsNonces }} 'nonce-{{ $nonce }}'{{ end }}; style-src 'self' 'unsafe-hashes'{{ range $i, $hash := $integrityHashes }} '{{ $hash }}'{{ end }}; object-src 'none'; base-uri 'self'; connect-src 'self'{{ if not site.Config.Privacy.GoogleAnalytics.Disable }} https://*.google-analytics.com{{ end }}; font-src 'self'; frame-src 'self'; img-src 'self'{{ if not site.Config.Privacy.GoogleAnalytics.Disable }} https://*.google-analytics.com https://*.googletagmanager.com{{ end }}; manifest-src 'self'; media-src 'self'; worker-src 'none';">
{{ if .Params.noindex }}
<meta name="robots" content="noindex" />
{{ else}}
<meta name="robots" content="noodp, noydir" />
{{ end }}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="{{ if .Site.Params.author }}{{ .Site.Params.author.name }}{{ else }}{{ range .Site.author }}{{ . }} {{ end }}{{ end }}">
<meta name="description" content="{{ if .Site.Params.description }}{{ .Site.Params.description }}{{ else }}{{ .Summary | plainify }}{{ end }}" />
<meta name="keywords" content="{{ .Site.Params.keywords }}{{ if .Params.tags }}{{ range .Params.tags }}, {{ . }}{{ end }}{{ end }}" />
<meta name="theme-color" content="{{ .Site.Params.favicon.color.theme }}" />
<link rel="canonical" href="{{ .Permalink }}" />

{{ block "title" . }}
    <title>
        {{ if .IsHome }}
            {{ $.Site.Title }} {{ with $.Site.Params.Subtitle }} — {{ . }} {{ end }}
        {{ else }}
            {{ .Title }} :: {{ $.Site.Title }} {{ with $.Site.Params.Subtitle }} — {{ . }}{{ end }}
        {{ end }}
    </title>
{{ end }}

<!-- CSS -->
{{- range $scssFile := $scssFiles }}
    {{ $opts := dict "transpiler" "libsass" "targetPath" (printf "%s.css" $scssFile) "outputStyle" "compressed" "enableSourceMap" true }}
    {{ $css := resources.Get (printf "scss/%s.scss" $scssFile) | toCSS $opts | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}" crossorigin="anonymous">
{{- end }}  

{{ range $val := $.Site.Params.customCSS }}
    {{ if and (gt (len $val) 0) (not (strings.Contains $val "://")) }}
        {{ $opts := dict "outputStyle" "compressed" }}
        {{ $minifiedCSS := resources.Get $val | toCSS $opts | minify | fingerprint "sha256" }}
        {{ $integrityHashes = $integrityHashes | append $minifiedCSS.Data.Integrity }}
        <link rel="stylesheet" href="{{ $minifiedCSS.RelPermalink }}" integrity="{{ $minifiedCSS.Data.Integrity }}" crossorigin="anonymous">
    {{ end }}
{{ end }}

{{ range $file := .Site.Params.customCSSExternal.files }}
    <link rel="stylesheet" href="{{ $file.url }}" integrity="{{ $file.hash }}" crossorigin="anonymous">
{{ end }}

<!-- Icons -->
{{- partial "favicons.html" . }}

{{ template "_internal/schema.html" . }}
{{ template "_internal/twitter_cards.html" . }}

{{ if isset .Site.Taxonomies "series" }}
    {{ template "_internal/opengraph.html" . }}
{{ end }}

{{ range .Params.categories }}
    <meta property="article:section" content="{{ . }}" />
{{ end }}

{{ if isset .Params "date" }}
    <meta property="article:published_time" content="{{ time .Date }}" />
{{ end }}

<!-- RSS -->
{{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

<!-- JSON Feed -->
{{ if .OutputFormats.Get "json" }}
<link href="{{ if .OutputFormats.Get "json" }}{{ .Site.BaseURL }}feed.json{{ end }}" rel="alternate"
    type="application/json" title="{{ .Site.Title }}" />
{{ end }}

<!-- Custom head tags -->
{{- if templates.Exists "partials/extra-head.html" -}}
    {{ partial "extra-head.html" . }}
{{- end }}

<!-- Google Analytics internal template -->
{{- if and (.Site.Config.Services.GoogleAnalytics.ID) (eq (getenv "HUGO_ENVIRONMENT") "production" )}}
    {{ partial "google_analytics.html" (dict "GAID" .Site.Config.Services.GoogleAnalytics.ID "gaNonce1" $gaNonce1 "gaNonce2" $gaNonce2) }}
{{- else }}
    {{ partial "google_analytics.html" (dict "GAID" "UA-2345678-90" "gaNonce1" $gaNonce1 "gaNonce2" $gaNonce2) }}
{{- end }}

<!-- Plausible.io -->
{{- if $.Site.Params.plausibleDataDomain }}
    <script defer data-domain="{{ .Site.Params.plausibleDataDomain }}" src="{{ .Site.Params.plausibleScriptSource }}"></script>
{{- end}}
